<?xml version="1.0" ?>
<robot name="table.urdf">
  <material name="Black">
    <color rgba="0.0 0.0 0.0 1.0"/>
  </material>
  <material name="Blue">
    <color rgba="0.0 0.0 0.8 1.0"/>
  </material>
  <material name="Green">
    <color rgba="0.0 0.8 0.0 1.0"/>
  </material>
  <material name="Grey">
    <color rgba="0.5 0.5 0.5 1.0"/>
  </material>
  <material name="Light_Grey">
    <color rgba="0.8 0.8 0.8 1.0"/>
  </material>
  <material name="Ivory">
    <color rgba="1.0 1.0 0.94 1.0"/>
  </material>
  <material name="Orange">
    <color rgba="1.0 0.423529411765 0.0392156862745 1.0"/>
  </material>
  <material name="Brown">
    <color rgba="0.870588235294 0.811764705882 0.764705882353 1.0"/>
  </material>
  <material name="Red">
    <color rgba="0.8 0.0 0.0 1.0"/>
  </material>
  <material name="White">
    <color rgba="1.0 1.0 1.0 1.0"/>
  </material>
  <link name="world">
  </link>
  <joint name="world2base" type="fixed">
    <parent link="world"/>
    <child link="baseLink"/>
    <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/> 
  </joint>
  <link name="baseLink">
    <contact>
      <lateral_friction value="1.0"/>
    </contact>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
       <mass value=".0"/>
       <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="simple_table_large.obj" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="Ivory"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="simple_table_large.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
</robot>

